<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de todas as notas</title>
</head>
<body>
    <div class="listanotas" id="listanotas">
        <h1>Listagem Notas</h1>
            <table border="1" cellpadding="5">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Nota 1</th>
                    <th>Nota 2</th>
                </tr>
            </table>
</body>
</html>