<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Inserir Notas</h2>
        <form method="POST" action="#">
        <label>Nome do Aluno:</label>
        <input type="text" name="nome" required><br><br>
        
        <label>ID do Aluno:</label>
        <input type="number" name="alunoId" required><br><br>
        
        <label>Nota 1:</label>
        <input type="number" name="nota1" min="0" max="10" step="0.1" required><br><br>
        
        <label>Nota 2:</label>
        <input type="number" name="nota2" min="0" max="10" step="0.1" required><br><br>
        
        <input type="submit" value="Enviar">
        </form>

<h3>Notas Inseridas:</h3>
    <table>
    <tr>
        <td>Nota Valor</td>
    </tr>
    <tr>
        <td>Nota 1</td>
    <td>–</td>
    </tr>
    <tr>
        <td>Nota 2</td>
    <td>–</td>
    </tr>
    <tr>
        <td>Média</td>
        <td>–</td>
    </tr>
    </table>
</body>
</html>